

<div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_name"><strong><%= comment.name %></strong></p>
		<p class= "comment_body"><%= comment.body %></p>
		<p class="comment_title"><%= time_ago_in_words(comment.created.at) %> ago</p>
	</div>
</div>
