
<% @posts.each do |post| %>
<div class="post_wrapper">

<h2 class="title"> <%= link_to post.title, post %></h2>

<h3 class="body"> <%= p post.body %></h3>

<h6 class="date"> <%=post.created_at.strftime("%B, %d, %Y")%></h6>

</div>
<% end %>