<!DOCTYPE html>
<html>
<head>
  <title>SecBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<%= image_tag "logo.svg" %>
<% end %>
</div>
<ul>
<li class="category">Website</li>

<li><%= link_to "Blog", root_path %></li>

<li>About</li>

<li></li>
</ul>	
<ul>
<li class="category">Social</li>
<li><a href="https://www.facebook.com/MigAngFre">Facebook</a></li>
</ul>
 <p class="sign_in">Admin Login</p>
  </div>
 
  <div id="main_content">
    <div id="header">
      <button class="button"><%= link_to "All posts", root_path %></button>
 
      <div class="buttons">
        <button class="button"><%= link_to "New Post", new_post_path %></button>
        <button class="button">Log Out</button>
      </div>
    </div>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
 
    <%= yield %>
  </div>
</body>
</html>